<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.housir.store.mapper.RechargeMapper">
    <resultMap id="BaseResultMap" type="vip.housir.store.entity.Recharge">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="uid" jdbcType="INTEGER" property="uid"/>
        <result column="coin" jdbcType="INTEGER" property="coin"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="qr_id" jdbcType="VARCHAR" property="qrId"/>
        <result column="qr_pay_id" jdbcType="VARCHAR" property="qrPayId"/>
        <result column="tid" jdbcType="VARCHAR" property="tid"/>
        <result column="pay_type" jdbcType="VARCHAR" property="payType"/>
        <result column="pay_type_code" jdbcType="INTEGER" property="payTypeCode"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="vip.housir.store.entity.Recharge">
        <result column="yz_msg" jdbcType="LONGVARCHAR" property="yzMsg"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,
        uid,
        coin,
        name,
        status,
        qr_id,
        qr_pay_id,
        tid,
        pay_type,
        pay_type_code,
        create_time,
        update_time
    </sql>
    <sql id="Blob_Column_List">
        yz_msg
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from recharge
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from recharge
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="vip.housir.store.entity.Recharge">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into recharge (uid, coin, name,
        status, qr_id, qr_pay_id,
        tid, pay_type, pay_type_code,
        create_time, update_time, yz_msg
        )
        values (#{uid,jdbcType=INTEGER}, #{coin,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
        #{status,jdbcType=VARCHAR}, #{qrId,jdbcType=VARCHAR}, #{qrPayId,jdbcType=VARCHAR},
        #{tid,jdbcType=VARCHAR}, #{payType,jdbcType=VARCHAR}, #{payTypeCode,jdbcType=INTEGER},
        #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{yzMsg,jdbcType=LONGVARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="vip.housir.store.entity.Recharge">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into recharge
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                uid,
            </if>
            <if test="coin != null">
                coin,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="qrId != null">
                qr_id,
            </if>
            <if test="qrPayId != null">
                qr_pay_id,
            </if>
            <if test="tid != null">
                tid,
            </if>
            <if test="payType != null">
                pay_type,
            </if>
            <if test="payTypeCode != null">
                pay_type_code,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="yzMsg != null">
                yz_msg,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                #{uid,jdbcType=INTEGER},
            </if>
            <if test="coin != null">
                #{coin,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="qrId != null">
                #{qrId,jdbcType=VARCHAR},
            </if>
            <if test="qrPayId != null">
                #{qrPayId,jdbcType=VARCHAR},
            </if>
            <if test="tid != null">
                #{tid,jdbcType=VARCHAR},
            </if>
            <if test="payType != null">
                #{payType,jdbcType=VARCHAR},
            </if>
            <if test="payTypeCode != null">
                #{payTypeCode,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="yzMsg != null">
                #{yzMsg,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="vip.housir.store.entity.Recharge">
        update recharge
        <set>
            <if test="uid != null">
                uid = #{uid,jdbcType=INTEGER},
            </if>
            <if test="coin != null">
                coin = #{coin,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="qrId != null">
                qr_id = #{qrId,jdbcType=VARCHAR},
            </if>
            <if test="qrPayId != null">
                qr_pay_id = #{qrPayId,jdbcType=VARCHAR},
            </if>
            <if test="tid != null">
                tid = #{tid,jdbcType=VARCHAR},
            </if>
            <if test="payType != null">
                pay_type = #{payType,jdbcType=VARCHAR},
            </if>
            <if test="payTypeCode != null">
                pay_type_code = #{payTypeCode,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="yzMsg != null">
                yz_msg = #{yzMsg,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="vip.housir.store.entity.Recharge">
        update recharge
        set uid           = #{uid,jdbcType=INTEGER},
            coin          = #{coin,jdbcType=INTEGER},
            name          = #{name,jdbcType=VARCHAR},
            status        = #{status,jdbcType=VARCHAR},
            qr_id         = #{qrId,jdbcType=VARCHAR},
            qr_pay_id     = #{qrPayId,jdbcType=VARCHAR},
            tid           = #{tid,jdbcType=VARCHAR},
            pay_type      = #{payType,jdbcType=VARCHAR},
            pay_type_code = #{payTypeCode,jdbcType=INTEGER},
            create_time   = #{createTime,jdbcType=TIMESTAMP},
            update_time   = #{updateTime,jdbcType=TIMESTAMP},
            yz_msg        = #{yzMsg,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="vip.housir.store.entity.Recharge">
        update recharge
        set uid           = #{uid,jdbcType=INTEGER},
            coin          = #{coin,jdbcType=INTEGER},
            name          = #{name,jdbcType=VARCHAR},
            status        = #{status,jdbcType=VARCHAR},
            qr_id         = #{qrId,jdbcType=VARCHAR},
            qr_pay_id     = #{qrPayId,jdbcType=VARCHAR},
            tid           = #{tid,jdbcType=VARCHAR},
            pay_type      = #{payType,jdbcType=VARCHAR},
            pay_type_code = #{payTypeCode,jdbcType=INTEGER},
            create_time   = #{createTime,jdbcType=TIMESTAMP},
            update_time   = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>