<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.housir.store.mapper.RechargeMapper">
    <resultMap id="BaseResultMap" type="vip.housir.store.entity.Recharge">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="uid" jdbcType="INTEGER" property="uid"/>
        <result column="coin" jdbcType="INTEGER" property="coin"/>
        <result column="total_amount" jdbcType="REAL" property="totalAmount"/>
        <result column="discount_amount" jdbcType="REAL" property="discountAmount"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="tid" jdbcType="VARCHAR" property="tid"/>
        <result column="pay_type" jdbcType="VARCHAR" property="payType"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="vip.housir.store.entity.Recharge">
        <result column="notify_msg" jdbcType="LONGVARCHAR" property="notifyMsg"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, uid, coin, total_amount, discount_amount, name, status, tid, pay_type, create_time, 
    update_time
  </sql>
    <sql id="Blob_Column_List">
    notify_msg
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from recharge
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByTid" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from recharge
        where tid = #{tid,jdbcType=VARCHAR}
        limit 1
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from recharge
    where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="vip.housir.store.entity.Recharge">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into recharge (uid, coin, total_amount,
        discount_amount, name, status,
        tid, pay_type, create_time,
        update_time, notify_msg)
        values (#{uid,jdbcType=INTEGER}, #{coin,jdbcType=INTEGER}, #{totalAmount,jdbcType=REAL},
        #{discountAmount,jdbcType=REAL}, #{name,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
        #{tid,jdbcType=VARCHAR}, #{payType,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP}, #{notifyMsg,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="vip.housir.store.entity.Recharge">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into recharge
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                uid,
            </if>
            <if test="coin != null">
                coin,
            </if>
            <if test="totalAmount != null">
                total_amount,
            </if>
            <if test="discountAmount != null">
                discount_amount,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="tid != null">
                tid,
            </if>
            <if test="payType != null">
                pay_type,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="notifyMsg != null">
                notify_msg,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                #{uid,jdbcType=INTEGER},
            </if>
            <if test="coin != null">
                #{coin,jdbcType=INTEGER},
            </if>
            <if test="totalAmount != null">
                #{totalAmount,jdbcType=REAL},
            </if>
            <if test="discountAmount != null">
                #{discountAmount,jdbcType=REAL},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="tid != null">
                #{tid,jdbcType=VARCHAR},
            </if>
            <if test="payType != null">
                #{payType,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="notifyMsg != null">
                #{notifyMsg,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="vip.housir.store.entity.Recharge">
        update recharge
        <set>
            <if test="uid != null">
                uid = #{uid,jdbcType=INTEGER},
            </if>
            <if test="coin != null">
                coin = #{coin,jdbcType=INTEGER},
            </if>
            <if test="totalAmount != null">
                total_amount = #{totalAmount,jdbcType=REAL},
            </if>
            <if test="discountAmount != null">
                discount_amount = #{discountAmount,jdbcType=REAL},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="tid != null">
                tid = #{tid,jdbcType=VARCHAR},
            </if>
            <if test="payType != null">
                pay_type = #{payType,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="notifyMsg != null">
                notify_msg = #{notifyMsg,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="vip.housir.store.entity.Recharge">
        update recharge
        set uid = #{uid,jdbcType=INTEGER},
          coin = #{coin,jdbcType=INTEGER},
          total_amount = #{totalAmount,jdbcType=REAL},
          discount_amount = #{discountAmount,jdbcType=REAL},
          name = #{name,jdbcType=VARCHAR},
          status = #{status,jdbcType=VARCHAR},
          tid = #{tid,jdbcType=VARCHAR},
          pay_type = #{payType,jdbcType=VARCHAR},
          create_time = #{createTime,jdbcType=TIMESTAMP},
          update_time = #{updateTime,jdbcType=TIMESTAMP},
          notify_msg = #{notifyMsg,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="vip.housir.store.entity.Recharge">
        update recharge
        set uid = #{uid,jdbcType=INTEGER},
          coin = #{coin,jdbcType=INTEGER},
          total_amount = #{totalAmount,jdbcType=REAL},
          discount_amount = #{discountAmount,jdbcType=REAL},
          name = #{name,jdbcType=VARCHAR},
          status = #{status,jdbcType=VARCHAR},
          tid = #{tid,jdbcType=VARCHAR},
          pay_type = #{payType,jdbcType=VARCHAR},
          create_time = #{createTime,jdbcType=TIMESTAMP},
          update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>